header
  width: 80vw
  max-width: 86rem
  position: fixed
  top: 0
  z-index: 1
  max-height: 7.625rem
  align-items: baseline
  transition: all 0.5s
  background: aliceblue
  animation: text-down 1.5s
  justify-content: space-between
  display: flex

  a
    width: fit-content
    text-decoration: none

  ul
    grid-column-gap: 20px
    grid-template-columns: 1fr 1fr 1fr
    display: grid

    a
      margin: auto
    li
      list-style-type: none

  svg
    display: none

@keyframes text-down
  from
    transform: translateY(-100%)

  to
    transform: translateY(0%)

@media (width < 1136px)
  header
    width: 90vw

@media (width < 905px)
  header
    h4
      font-size: 1.5rem

@media (width < 646px)
  header
    h4
      font-size: 1.2rem

    ul
      display: none

    svg
      display: block