#MyWorks
  height: 100vh
  overflow: hidden

  .circle-box
    height: 20rem
    overflow: hidden
    position: absolute
    transform: translateY(-90px)

    .circle
      width: 1000px
      height: 1000px
      margin: 10px 0 0 30px
      border-radius: 62.5rem
      border: 10px solid #010001
      opacity: 0.7
      transform: translate(-35%, -85%)

  .sliders
    gap: 3rem
    display: flex

    .slider
      margin-top: 6rem
      cursor: grab
      grid-column-gap: 3rem
      display: flex
      animation: scroll 10s linear infinite

      .card
        width: 12rem
        height: 15rem
        background: black
        border-radius: 20px
        box-shadow: 0 0 5px black
        background-size: cover
        background-repeat: no-repeat
        background-position: center

        .text
          width: 10rem
          padding: 4px
          border-radius: 8px 0
          background: #d8dfe6
          bottom: -10%
          left: -20%

          h1
            font-size: 1.2rem
            font-weight: 800

          p
            font-size: 0.8rem
            font-weight: 800

@keyframes scroll
  0%
    transform: translateX(0)
  100%
      transform: translateX(calc(-100% - 3rem))

@media (width < 1136px)
  #MyWorks
    .circle-box
      width: 600px

@media (width < 905px)
  #MyWorks
    h1
      font-size: 5rem
    
    .circle-box
      width: 510px

      .circle
        width: 900px
        height: 900px

    .slider
      animation: scroll 15s linear infinite !important

@media (width < 646px)
  #MyWorks
    h1
      font-size: 3rem
    
    .circle-box
      width: 300px
      transform: translateY(-50px)

      .circle
        width: 500px
        height: 500px
        border: 7px solid #010001

    .slider
      animation: scroll 20s linear infinite !important

/* Критичні ширини: 1419 905 646 - 335 */