#MyWorks
  height: 100vh
  overflow: hidden

  .circle-box
    height: 20rem
    overflow: hidden
    position: absolute
    transform: translateY(-90px)

    .circle
      width: 1000px
      height: 1000px
      margin: 10px 0 0 30px
      border-radius: 62.5rem
      border: 10px solid #010001
      opacity: 0.7
      transform: translate(-35%, -85%)

  .slider
    margin-top: 6rem
    overflow: hidden
    cursor: grab
    grid-template-columns: repeat(7, max-content)
    grid-column-gap: 5rem
    display: grid

    .card
      width: 13rem
      height: 18rem
      background: rgb(212, 94, 39)
      border-radius: 20px
      box-shadow: 0 0 5px black

      img
        width: 100px