#SideBar
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 9
  top: 0
  left: 0
  background: #30530E
  transform: translateX(100%)
  transition: all 1.5s

  .exit
    position: absolute
    top: 15px
    right: 25px

    .first
      width: 4px
      height: 20px
      position: absolute
      border-radius: 50% 0
      background: aliceblue
      transform: rotate(45deg)

    .second
      width: 4px
      height: 20px
      position: absolute
      border-radius: 0 50%
      background: aliceblue
      transform: rotate(325deg)